<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <file>logs/application.log</file> <!-- Path to your log file -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <append>true</append> <!-- Append to existing file or create new -->
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>